[*.{cs,vb}]

# IDE0040: Adicionar modificadores de acessibilidade
dotnet_style_require_accessibility_modifiers = never

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
